<?xml version="1.0"?>
<appSettings>
  <!-- Keys for BotFramework -->
  <add key="BotId" value="" />
  <add key="MicrosoftAppId" value="" />
  <add key="MicrosoftAppPassword" value="" />

  <!-- Keys for LUIS Ada-->
  <add key="ModelId" value=""/>
  <add key="SubscriptionKey" value=""/>

  <!-- Keys for LUIS trivial-->
  <add key="ModelIdTrivial" value=""/>
  <add key="SubscriptionKeyTrivial" value=""/>

  <!-- URI for bot -->
  <add key="WebAppUrl" value="" /> <!--Use for the picture-->
 
  <add key="FaceBookMIC" value="" /> <!--Link to the Facebook page-->
  <add key="YoutubeMIC" value="" /> <!--Link to the youtube page-->
  <add key="LinkedinMIC" value="" /> <!--Link to the linkedin page-->
  <add key="TwitterMIC" value="" /> <!--Link to the twitter page-->
  <add key="MeetupMIC" value="" /> <!--Link to the meetup page-->
  <add key="SiteMIC" value="" /> <!--Link to the website-->
  
  <add key="IMGYoutube" value="" /> <!--Link to an image for youtube-->
  <add key="IMGMIC" value="" /> <!--Link to an image for the society-->
  <add key="IMGFacebook" value="" /> <!--Link to an image for Facebook-->
  <add key="IMGMeetup" value="" /> <!--Link to an image for the meetup-->
  <add key="IMGLinkedin" value="" /> <!--Link to an image for linkedin-->
  <add key="IMGTwitter" value=""/>  <!--Link to to an image for twitter-->
  <add key="IMGMore" value=""/> <!--Link to an image for the button more-->
  <add key="IMGVisitsDay" value=""/> <!--Link to an image for the visits of the day-->
  <add key="IMGAverage" value=""/>  <!--Link to an image for the visits average-->
  <add key="IMGBestFriend" value=""/>  <!--Link to an image for the best friend-->
  <add key="IMGAboutMIC" value=""/>  <!--Link to an image for the information of the MIC-->
</appSettings>